* {
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(44, 44, 44);
}

ul {
  text-align: right;
}

li {
  list-style-type: none;
  display: inline;
  margin: 0 10px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(90, 90, 231);
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

img {
  max-width: 400px;
}

.searchform {
  margin: 30px auto;
  text-align: center;
}
.searchbutton {
  display: block;
  width: 200px;
  margin: 15px auto;
  height: 30px;
  background-color: rgb(44, 44, 44);
  color: white;
  border: 1px solid rgb(156, 154, 154);
  border-radius: 10px;
}
.searchtext {
  min-width: 400px;
  border-radius: 10px;
  background-color: rgb(44, 44, 44);
  border: 1px solid rgb(156, 154, 154);
  height: 30px;
  color: whitesmoke;
  text-align: center;
  width: 30%;
}

.searchbutton:hover {
  background-color: grey;
}

.searchtext:hover {
  background-color: rgb(49, 49, 49);
}
