{% extends 'layout.html' %} {% block body %}

<div class="cintainer title-area">
  <h1 class="brand">Random Ideas For Everyone</h1>
  <p class="desc">Add Your Idea For Next Generations</p>
</div>
<div class="addingbutton">
  <button type="button" class="btn btn-outline-dark">Add Idea</button>
</div>
<div class="container">
  <div class="row" id="ideas"></div>
</div>

<div class="footer">
  <p class="footer-info">
    Created for CS50W Final Project - It's Created By Ersin Mutlu
  </p>
</div>

{% endblock %}
